# ----------------------------------------------------------------------------
# LARAVEL specific
# ----------------------------------------------------------------------------
/bootstrap/compiled.php
Homestead.yaml
Homestead.json
*.env
.env
storage/*

# ----------------------------------------------------------------------------
# COMPOSER Stuff
# ----------------------------------------------------------------------------
/vendor
/bin

# ----------------------------------------------------------------------------
# PHP CS FIXER
# ----------------------------------------------------------------------------
!.php_cs
.php_cs.cache

# ----------------------------------------------------------------------------
# NODEJS Stuff
# ----------------------------------------------------------------------------
node_modules

# ----------------------------------------------------------------------------
# OS Specific
# ----------------------------------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------------------------------
# IDE
# ----------------------------------------------------------------------------
.idea
_ide_helper.php
.phpstorm.meta.php

# ----------------------------------------------------------------------------
# NPM
# ----------------------------------------------------------------------------
npm-debug.log

# ----------------------------------------------------------------------------
# User Upload
# ----------------------------------------------------------------------------
public/field/*
public/logs/*
public/storage/*
public/user/*

# ----------------------------------------------------------------------------
# HTACCESS
# ----------------------------------------------------------------------------
.htaccess
